@font-face {
    font-family: 'Market_Deco';
    src: local('Market_Deco'), url(../../resources/fonts/Market_Deco.ttf) format('truetype');
  }

  nav img { 
    margin-right: 10px;
  }
  
  h1 {
    text-align: center;
    font-size: 70px;
    color:rgb(17, 2, 2);
  }
  
  nav ul {
    display: flex;
  }
  
  nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
    }
  
  nav li:first-child{
    text-align:left;
    width: 70vw;
  }
  
  nav li{
    align-content: center;
    list-style-type: none;
    width: 30vw;
    height:30px;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    position:relative;
  }
  
  nav li:hover{
    background-color:#fff;
    color:#000;
    }
  